services:
  db:
    image: mysql
    environment:
      MYSQL_DATABASE: snippetbox
      MYSQL_USER: web
      MYSQL_PASSWORD: pass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  app:
    build: .
    depends_on:
      - db
    environment:
      - SBOX_DSN=web:pass@tcp(db:3306)/snippetbox?parseTime=true
    ports:
      - "4000:4000"
    volumes:
      - ./ui:/app/ui
      - ./tls:/app/tls
      - ./init.sql:/docker-entrypoint-initdb.d
    entrypoint: [ "sh", "-c", "until nc -z db 3306; do echo waiting for db; sleep 2; done; ./snippetbox -addr=:4000" ]
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data: